@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --primary-color:#238BE8;
}

body{
    margin: 4rem;
    min-width: 50rem;
    max-width: 55rem;
}

h1, h2{
    margin:0;
    font-family: "Lora";
    font-size: xxx-large;
}

h2 {
    font-style: italic;
    font-weight: 550;
}

span{
    color:var(--primary-color);
    font-size:120%;
}

.container{
    display:flex;
    justify-content: space-between;
}

header{
    margin-bottom:3rem;
}

.company_logo{
    flex:1;
    max-width: 25rem;
}

.billed_to_section, .invoice_info, .description, .invoice_category{
    display:flex;
    flex-direction: column;
    flex:1;
}

.invoice_input{
    display:flex;
    justify-content: flex-end;
}

.billed_to_lines, .invoice_info_lines{
    outline:0;
    border-width: 0 0 0 0;
    border-bottom: black solid .1rem;
}

.invoice_lines, .desc_invoice_lines, .subtotal{
    outline: 0;
    border-width: 0 0 0 0;
    border-bottom: black solid .1rem;
    border-right: solid black .1rem;
}
.invoice_lines{
    width: auto;
}

.billed_to_lines{
    max-width: 52%;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:1.5rem;
    margin-bottom:8rem;
}

.invoice_cat_title{
    background-color: var(--primary-color);
    border-right: solid black .1rem;
    margin:0;
    text-align: center;
}


.description{
    flex: 4;
}

.invoice_category{
    flex:1;
    max-width: 8rem;
}

.invoice_calc, .invoice_calc_taxes{
    display: flex;
    justify-content: flex-end;
}

.calc_types{
    display:flex;
    flex-direction: column;
}

.calc_types > *{
    border: solid black .1rem;
    border-top:0;
    text-align: right;
    padding-left:.5rem;
}

.calc_types_label > *{
    outline:0;
    border:0;
}

footer > .container{
    justify-content: center;
    gap:40rem;
    text-align: center;
}

.total_due, .total{
    font-weight: bolder;
}
